/* ==========================================================================
   Base
   ========================================================================== */

body {
  font-family: Open Sans, Helvetica, San Serif;
  min-width: 768px;
  margin-top: 139px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

h1 {
  font-weight: 300;
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  color: #fff;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

section {
  overflow: hidden;
  padding: 50px 0;
  color: #eee;
}

section h1 {
  padding-bottom: 10px;
}

section .text {
  width: 48%;
}

.tooltip-inner {
  max-width: 250px;
  padding: 10px;
  white-space: nowrap;
}

.inner-col {
  overflow: hidden;
  width: 952px;
  margin: 0 auto;
}

/* ==========================================================================
   Header
   ========================================================================== */

.main-header {
  position: absolute;
  z-index: 999;
  top: 0;
  width: 100%;
  padding: 10px 0;
  -webkit-box-shadow: 0 10px 15px 0 rgba(0, 0, 0, .6);
     -moz-box-shadow: 0 10px 15px 0 rgba(0, 0, 0, .6);
          box-shadow: 0 10px 15px 0 rgba(0, 0, 0, .6);
}

.main-header h1 {
  margin-bottom: 35px;
}

img.brand {
  float: left;
  width: 220px;
}

.main-header .facebook {
  float: right;
  margin-top: 44px;
  margin-right: 20px;
}

.social-facebook {
  width: 35px;
  margin-top: -5px;
}

.main-header nav {
  font-size: 24px;
  font-weight: 400;
  float: right;
  margin-top: 44px;
  color: #4a4f52;
}

.main-header nav a {
  padding: 0 22px;
  border-right: 1px solid rgba(0, 0, 0, .1);
}

.main-header nav a:last-child {
  margin-right: 25px;
  border-right: none;
}

.main-header nav a:hover {
  cursor: default;
  color: #898d8f;
}

/* ==========================================================================
   Footer
   ========================================================================== */

footer {
  margin: 0;
  padding: 20px;
  text-align: center;
  background-color: #333;
}

footer .disclaimer {
  font-family: Arial, Verdana, Helvetica, San Serif;
  font-size: 9px;
  display: block;
  width: 800px;
  margin: 0 auto;
  color: #bbb;
}

/* ==========================================================================
   Timetable
   ========================================================================== */

.timetable {
  padding: 50px 0;
  background: #100f17;
  background-image: -webkit-radial-gradient(circle farthest-side at right bottom,#100f17,#302f40 80%,#1f1e2b);
  background-image:    -moz-radial-gradient(circle farthest-side at right bottom,#100f17,#302f40 80%,#1f1e2b);
  background-image:      -o-radial-gradient(circle farthest-side at right bottom,#100f17,#302f40 80%,#1f1e2b);
  background-image:     -ms-radial-gradient(circle farthest-side at right bottom,#100f17,#302f40 80%,#1f1e2b);
  background-image:         radial-gradient(circle farthest-side at right bottom,#100f17,#302f40 80%,#1f1e2b);
}

.timetable h1 {
  text-align: center;
}

.timetable .js-timetable {
  margin-top: 20px;
}

.timetable .js-timetable .times,
.timetable .js-timetable .days {
  color: #333;
}

/* ==========================================================================
   Membership
   ========================================================================== */

section.membership {
  position: relative;
  overflow: hidden;
  padding-bottom: 260px;
  text-align: center;
  color: #cabcd8;
  background-color: #3b2550;
  background-image: -webkit-linear-gradient(295deg,#574185,#281938);
  background-image:    -moz-linear-gradient(295deg,#574185,#281938);
  background-image:      -o-linear-gradient(295deg,#574185,#281938);
  background-image:     -ms-linear-gradient(295deg,#574185,#281938);
  background-image:         linear-gradient(-205deg,#574185,#281938);
  -webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,.1);
          box-shadow: inset 0 1px 0 rgba(0,0,0,.1);
  text-shadow: 0 1px 2px #281938;
}

section.membership .text {
  margin-bottom: 25px;
}

section.membership .text {
  width: 100%;
}

.benefits {
  left: 40px;
  overflow: visible;
  margin-top: 15px;
  text-align: center;
}

.benefits li {
  position: relative;
  display: inline-block;
  width: 35%;
  margin-left: 50px;
  text-align: left;
  vertical-align: top;
}

.benefits li i {
  font-size: 35px;
  position: absolute;
  top: 20px;
  left: -50px;
}

.benefits li h3 {
  font-size: 18px;
  color: #fff;
}

.membership .card {
  position: absolute;
  right: 0;
  bottom: -80px;
  left: 0;
  display: inline-block;
  width: 420px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, .3);
  -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
          border-radius: 15px;
  background-color: #fff;
}

.membership .card img {
  width: 400px;
}

/* ==========================================================================
   Meet the Team
   ========================================================================== */

section.meet-the-team {
  text-align: center;
  color: #5b698a;
  background-color: #e4e8f2;
}

section.meet-the-team h1 {
  color: #24314f;
}

section.meet-the-team .text {
  width: 100%;
}

ul.team {
  margin-top: 30px;
}

ul.team .executive {
  display: inline-block;
  width: 220px;
  height: 220px;
  margin: 5px;
  text-align: center;
  -webkit-border-radius: 110px;
     -moz-border-radius: 110px;
          border-radius: 110px;
}

ul.team .executive .name {
  line-height: 16px;
  display: inline-block;
  margin-top: 185px;
  padding: 5px;
  color: #fff;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  background: rgba(0, 0, 0, .6);
  background-size: 220px 220px;
}

#anita {
  background: url(../img/anita.jpg) no-repeat center;
  background-size: 220px 220px;
}

#edgar {
  background: url(../img/edgar.jpg) no-repeat center;
  background-size: 220px 220px;
}

#bill {
  background: url(../img/bill.jpg) no-repeat center;
  background-size: 220px 220px;
}

#daniel {
  background: url(../img/daniel.jpg) no-repeat center;
  background-size: 220px 220px;
}

#joyce {
  background: url(../img/joyce.jpg) no-repeat center;
  background-size: 220px 220px;
}

#william {
  background: url(../img/william.jpg) no-repeat center;
  background-size: 220px 220px;
}

#shan {
  background: url(../img/shan.jpg) no-repeat center;
  background-size: 220px 220px;
}

#shan {
  background: url(../img/shan.jpg) no-repeat center;
  background-size: 220px 220px;
}

#wendy {
  background: url(../img/wendy.jpg) no-repeat center;
  background-size: 220px 220px;
}

#fay {
  background: url(../img/fay.jpg) no-repeat center;
  background-size: 220px 220px;
}

#shuang {
  background: url(../img/shuang.jpg) no-repeat center;
  background-size: 220px 220px;
}

#esther {
  background: url(../img/esther.jpg) no-repeat center;
  background-size: 220px 220px;
}

/* ==========================================================================
   Sponsors
   ========================================================================== */

section.sponsors {
  padding: 10px 0;
  text-align: center;
  background-color: #fff;
}

section.sponsors img {
  filter: alpha(opacity=50);
  -moz-opacity:.5;
  -khtml-opacity: .5;
  opacity: .5;
}

#lining {
  width: 170px;
  margin-right: 40px;
}

#brownsports {
  width: 180px;
}

section.sponsors div {
  text-transform: uppercase;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.4);
}

